---
title: Error Page
---
<!DOCTYPE html>
<html lang="en-us">

<head>

{% include header_script.html 
    titletag="Error Page(404) | Utkarsh Gupta"
    url="https://utkryuk.github.io/random"
%}

  
{% include header.html %}

  <div class="universal-wrapper pt-3">

  <h1 class="center" style="text-align: center;">Oops!!</h1>
  <br>
  <img class="center" src="/assets/gif/error_1.gif">
  
  <h6 class="center" style="text-align: center;">
    <a href="/index.html" rel="noopener"><u>Return to Home</u></a></h6>
  
</div>

{% include footer_script.html %}

{% include footer.html %}

</body>
</html>
