---
title: Error Page
---
<!DOCTYPE html>
<html lang="en-us">

<head>

{% include header_script.html 
    titletag="Error Page(404) | Utkarsh Gupta"
    url="https://utkryuk.github.io/random"
%}

  
{% include header.html %}

  <div class="universal-wrapper pt-3">

  <h1>Page not found</h1>

  
  
  <form class="d-flex align-items-center mb-3">
    <input name="q" type="search" class="form-control" id="search-query" placeholder="Search..." autocomplete="off">
  </form>
  

  

  <p>Perhaps you were looking for one of these?</p>

  
  
  
  <h2>Latest:</h2>
  <ul>
    
      <li><a href="/post/blogname1/"></a></li>
        
  </ul>
  

</div>

{% include footer_script.html %}

{% include footer.html %}

</body>
</html>
