---
title: utkryuk.github.io
---

<!DOCTYPE html>
<html lang="en-us">

<head>


{% include header_script.html 
    titletag="Home | Utkarsh Gupta"
    url="https://utkryuk.github.io/"
%}


{% include header.html %}


<span class="js-widget-page d-none"></span>



  <section id="about" class="home-section wg-about   "  >
    <div class="container">
      



<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person" itemref="person-email person-telephone person-address">
  <div class="col-12 col-lg-4">
    <div id="profile">

      
      
      <img class="portrait" src="/assets/img/profile_utkarsh_gupta.jpg" itemprop="image" alt="Avatar">
      

      <div class="portrait-title">
        <h2 itemprop="name">Utkarsh Gupta</h2>
        <h3 itemprop="jobTitle">CS Fanatic</h3>

        
        <h3 itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
          
          <span itemprop="name"></span>
          
        </h3>
        
      </div>

      <link itemprop="url" href="">

      <ul class="network-icon" aria-hidden="true">    
        

        <li>
          <a itemprop="sameAs" href="https://github.com/utkryuk" target="_blank" rel="noopener">
            <i class="fab fa-github big-icon"></i>
          </a>
        </li>
        
        
        <li>
          <a itemprop="sameAs" href="https://www.linkedin.com/in/utkarshgupta118/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin big-icon"></i>
          </a>
        </li>
        
        <li>
          <a itemprop="sameAs" href="https://twitter.com/utkryuk" target="_blank" rel="noopener">
            <i class="fab fa-twitter big-icon"></i>
          </a>
        </li>

        <li>
          <a itemprop="sameAs" href="https://www.facebook.com/utkarshgupta118" target="_blank" rel="noopener">
            <i class="fab fa-facebook-f big-icon"></i>
          </a>
        </li>

        <li>
          <a itemprop="sameAs" href="mailto:utkryuk@gmail.com" target="_blank" rel="noopener">
            <i class="fas fa-envelope big-icon"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
  <div class="col-12 col-lg-8" itemprop="description">

    
    <h1>About Me</h1>

    <p>I am a final year UG student at Birla Institute of Technology, Mesra.
      <p>Apart from academics, I proactively participate in various events to hone my interpersonal skills, boost my creativity, and network with like-minded people.</p>
      Furthermore, I love transforming ideas with passionate people into something that adds value and am open to collaborating on any such projects. </p>
  

    <div class="row">

      
      <div class="col-md-5">
        <h3>Interests</h3>
        <ul class="ul-interests">
          
          <li>Deep Learning</li>
          
          <li>Web Development</li>
          
          <li>Competitive Coding</li>
          
        </ul>
      </div>
      

      
      <div class="col-md-7">
        <h3>Education</h3>
        <ul class="ul-edu fa-ul">
          
          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div class="description">
              <p class="course">B.E. in Information Technology, 2017-21</p>
              <p class="institution">Birla Institute of Technology, Mesra</p>
            </div>
          </li>
                    
        </ul>
      </div>
      

    </div>
  </div>
</div>

    </div>
  </section>

  
  <section id="experience" class="home-section wg-experience   "  >
    <div class="container">
    

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>Experience</h1>
    
  </div>
  <div class="col-12 col-lg-8">
    

    
    
    
    <div class="row experience">
      
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col ">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <div class="m-2">
          <span class="badge badge-pill border ">&nbsp;</span>
        </div>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Student Developer at Crio Launch '20</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="http://crio.do/" target="_blank" rel="noopener">Crio.Do</a></h4>
            <div class="text-muted exp-meta">
              <p>
                Worked as a Student Developer at Crio.Do for Crio Launch Program, a 10-week online merit-based applied learning program.
              </p>
              <p>
                <u>Skills Acquired</u>: Linux Commands, OS Concepts, Networking Concepts, Network Security, Java, REST API, Jackson, Interfaces, Code Refactoring, Gradle, Applied DSA, String manipulation etc.
              </p>

              Feb 2020 –
              
                April 2020
              
              
                <span class="middot-divider"></span>
                <span>Online</span>
                <p style="text-align:left;">
                  <a class="card-link" href="https://criodo.github.io/Crio-Launch-Feb-2020-utkryuk/" target="_blank" rel="noopener">
                    <strong><i>See Portfolio</i></strong>
                  </a>
                    <span style="float:right;">
                    <a class="card-link" href="https://drive.google.com/file/d/181JplTfangU46I93IGOKxX-jwPKChFec/view?usp=sharing" target="_blank" rel="noopener">
                    <strong><i>See Certificate</i></strong>
                    </a>
                  </span>
              </p>
              
              </div>
            
          </div>
        </div>
      </div>
    </div>
  

    
    <div class="row experience">
      
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <div class="m-2">
          <span class="badge badge-pill border ">&nbsp;</span>
        </div>
        <div class="row h-50">
          <div class="col ">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Data Science Intern</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="https://www.iiti.ac.in/" target="_blank" rel="noopener">IIT Indore</a></h4>
            <div class="text-muted exp-meta">
              <p>
              I worked on the Skin Cancer Detection using Deep Learning Concepts.
              </p>
              Dec 2019 –
              
                Jan 2020
              
              
                <span class="middot-divider"></span>
                <span>Indore, India</span>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

    </div>
  </section>



  <section id="accomplishments" class="home-section wg-accomplishments   "  >
    <div class="container">
      



<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>Accomplish&shy;ments</h1>
    
  </div>
  <div class="col-12 col-lg-8">
    

          <div class="card experience course">
        <div class="card-body"><a href="https://www.hackcbs.tech/" target="_blank" rel="noopener"><h4 class="card-title exp-title text-muted my-0">HackCBS: First MLH Hackthon in India</h4></a><div class="card-subtitle my-0 article-metadata"><a href="https://mlh.io/" target="_blank" rel="noopener">Major League Hacking(MLH) </a><span class="middot-divider"></span>

            Oct 2019
            
          </div>

          
            <div class="card-text"><ul>
<br>
<li>Secured a rank in Top 20 from 300+ teams.</li>
<li>Made a Grocery App in a team of 4 and incorporated the principle of Dynamic Pricing.</li>
<br /></li>
</ul></div>
          

          
            <a class="card-link" href="https://drive.google.com/file/d/1hUS4c0SFtMfzY94E1f56Av6IYXL9nWcN/view?usp=sharing" target="_blank" rel="noopener">
              See certificate
            </a>
          
        </div>
      </div>
    

      <div class="card experience course">
        <div class="card-body"><a href="https://www.coursera.org/specializations/deep-learning" target="_blank" rel="noopener"><h4 class="card-title exp-title text-muted my-0">Deep Learning Specialization</h4></a><div class="card-subtitle my-0 article-metadata"><a href="https://www.coursera.org" target="_blank" rel="noopener">Coursera</a><span class="middot-divider"></span>

            Jun 2020-July 2020
            
          </div>

          
            <div class="card-text"><ul>
<br>
<li>Neural Networks and Deep Learning</li>
<li>Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization</li>
<li>Structuring Machine Learning Projects</li>
<li>Convolutional Neural Networks</li>
<li>Sequence Models
<br /></li>
</ul></div>
          

        
              <i>Progress Made</i>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
              </div>  
        </div>
      </div>
    
      <div class="card experience course">
        <div class="card-body"><a href="https://www.coursera.org/specializations/blockchain" target="_blank" rel="noopener"><h4 class="card-title exp-title text-muted my-0">Blockchain Specialization</h4></a><div class="card-subtitle my-0 article-metadata"><a href="https://www.coursera.org" target="_blank" rel="noopener">Coursera</a><span class="middot-divider"></span>

            July 2020 - Present
            
          </div>

          
          <div class="card-text"><ul>
            <br>
            <li>Blockchain Basics</li>
            <li>Smart Contracts</li>
            <li>Decentralized Applications(DApps)</li>
            <li>Blockchain Platforms
            <br /></li>
          </ul></div>
          

          
              <i>Progress Made</i>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
              </div>          
        </div>
      </div>
    
    
  </div>
</div>

    </div>
  </section>

  


  <section id="extracurricular" class="home-section wg-pages   "  >
    <div class="container">
    

  

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>Extracurricular</h1>
    
  </div>
  <div class="col-12 col-lg-8">

  
  
  
    <div class="row experience">
      
      
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Vice President of Academic Relations</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="https://www.linkedin.com/company/society-for-data-science-bit-mesra/?originalSubdomain=in" target="_blank" rel="noopener">Society of Data Science, Mesra</a></h4>
            <div class="text-muted exp-meta">
              <br>
              <p>
                Manages all the Academics related work in the Club.
              </p>

              June 2020 – Present                   
              <span class="middot-divider"></span>
              <span>Ranchi, India</span>

              </p>
              
              </div>
            
          </div>
        </div>
      </div>
    </div>
  




    
    <div class="row experience">
      
      
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Technical Head</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="https://www.facebook.com/Unesquo/" target="_blank" rel="noopener">UNESQUO, BIT Mesra</a></h4>
            <div class="text-muted exp-meta">
              <p>
                Manages all the technical work in the Club.
              </p>
              Jun 2020 – Present
              
                <span class="middot-divider"></span>
                <span>Ranchi, India</span>
              
            </div>

          </div>

          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Quiz Coordinator</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="https://www.facebook.com/Unesquo/" target="_blank" rel="noopener">UNESQUO, BIT Mesra</a></h4>
            <div class="text-muted exp-meta">
              <p>
                Made Questions for the <a href="https://dare2compete.com/o/mystique-the-online-cryptic-quiz-genesis-20-birla-institute-of-technology-bit-mesra-ranchi-96970" target="_blank" rel="noopener"><i>Mystique</i></a> (BIT Mesra's Online Treasure Hunt).
                <br>
                Helped in conducting other Quizzes in the campus.
              </p>
              April 2019 – May 2020
              
                <span class="middot-divider"></span>
                <span>Ranchi, India</span>
              
            </div>

            
            
          </div>


        </div>
      </div>
    </div>
    
    
  </div>

    

  </div>
  </div>
</section>
    
{% include footer_script.html %}

{% include footer.html %}
  
</body>
</html>
