<span class="article-date">
    <time>{{include.date}}</time>
  </span>

<span class="middot-divider"></span>
<a href="/project/{{include.project_url_title}}/#disqus_thread"></a>
<div class="share-box" aria-hidden="true">
    <ul class="share">
      <li>
        <a class="twitter"
          href = "https://twitter.com/share?url={{include.url}}&amp;text={{include.title}}&amp;" target="_blank" rel="noopener">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="facebook"
           href="https://www.facebook.com/sharer.php?u={{include.url}}"
           target="_blank" rel="noopener">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a class="linkedin"
           href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{include.url}}&amp;title={{include.title}}"
           target="_blank" rel="noopener">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a class="email"
           href="mailto:?subject={{include.title}}&amp;body={{include.url}}">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
  