---
title: utkryuk.github.io
---
<!DOCTYPE html>
<html lang="en-us">

<head>

{% include header_script.html 
titletag="Projects | Utkarsh Gupta"
url="https://utkryuk.github.io/project/"
%}
  
{% include header.html %}

  
<div class="universal-wrapper pt-3">
  <h1 itemprop="name">My Projects</h1>

  
</div>



<div class="universal-wrapper">


<div class="media stream-item" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0" itemprop="name">
      <a href="https://github.com/utkryuk/Dynamic-Pricing" itemprop="url">Dynamic Pricing</a>
    </h3>

    
    <div class="article-style" itemprop="articleBody">
      A mobile application to ease the pain of food wastage.
    </div>
  
    

  </div>
</div>

    

<div class="media stream-item" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0" itemprop="name">
      <a href="/project/Digit-Recognizer/" itemprop="url">Digit Recognizer</a>
    </h3>

    
    <div class="article-style" itemprop="articleBody">
      Digit Recognizer with 99.22% accuracy.
    </div>
  
  </div>
</div>
    
  


<div class="media stream-item" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0" itemprop="name">
      <a href="https://github.com/utkryuk/Spam-or-Not" itemprop="url">Spam Classifer</a>
    </h3>

    
    <div class="article-style" itemprop="articleBody">
    Spam Classifer based on Naive Bayes Probability Method
    </div>
  
  
  </div>
</div>

</div>

{% include footer_script.html %}

{% include footer.html %}


</body>
</html>