---
title: utkryuk.github.io
---

<!DOCTYPE html>
<html lang="en-us">

<head>


{% include header_script.html 
    titletag="Resume | Utkarsh Gupta"
    url="https://utkryuk.github.io/resume/"
%}


{% include header.html %}

<div class="universal-wrapper pt-3">
    <br>
    <h1 style="text-align: center;">Résumé</h1>
    <br><br><br>
</div>  



  
  <div class="universal-wrapper">
  

    <div class="resumeClass" style="display:block;">

        <iframe src="https://drive.google.com/file/d/1fFypZiBsQAJqMMM8352W9zMRNb8gNbwj/preview" style="width:750px; height:1050px; display:block; margin-left: auto;margin-right: auto;" frameborder="0" scrolling="auto"></iframe>

    </div>

    <div class="universal-wrapper">

        <br><br>
        <a href="/assets/pdf/Resume_Utkarsh_Gupta.pdf" target="_blank">Download</a><br/>
        ✉: <a href="mailto:utkryuk@gmail.com">utkryuk@gmail.com</a><br/>
        Reference: <a href="https://github.com/posquit0/Awesome-CV" target="_blank">github.com/posquit0/Awesome-CV</a>
    
    </div>
      
      
  
  </div>
  







{% include footer_script.html %}

{% include footer.html %}
  
</body>
</html>