---
title: Web App for Digit Recognition
---

<!DOCTYPE html>
<html lang="en-us">

<head>

{% include header_script.html
titletag="Digit Recognizer | Utkarsh Gupta"
url="https://utkryuk.github.io/project/Digit-Recognizer"
%}
  
{% include header.html %}


  <article class="article" itemscope itemtype="http://schema.org/Article">


    <div class="article-container pt-3">
      <h1 itemprop="name">Web App for Digit Recognition</h1>  


      <div class="article-metadata">


        {% include share.html 
        project_url_title="Digit-Recognizer"
        date="Jul 13, 2020"
        url="https://utkryuk.github.io/project/Digit-Recognizer/"
        title="Web%20App%20for%20Digit%20Recognition" 
        %}

      </div>
    </div>

    <div class="article-container pt-3">
      <p>
        The web app will soon be published. Till then, head over to the <a href="https://github.com/utkryuk/Digit-Recognizer" target="_blank">repo.</a>
        <br>
      </p>

    </div>

  <div class="article-container">

        
  {% include author.html %}

  {% include disqus.html %}


  </div>
</article>

      
{% include footer_script.html %}

{% include footer.html %}
  

  
</body>
</html>